<a href="https://colab.research.google.com/github/khusanovich/Data_Science_and_AI/blob/main/03_PANDAS_yakuniy_vazifa_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### PANDAS. Yakuniy vazifa. **2-Qism**

## Dataset
#### Ushbu vazifada biz turli davlatlarning turli yillarda elektr tokini qanday manbaalardan olganini ko'rsatuvchi jadval bilan ishlaymiz.
Jadval ustunlari ko'mir, gaz, gidro va boshqa manbaalardan ko'rsatilgan yilda qancha __terravat/soat__ energiya olinganini ko'rsatadi.

In [361]:
import pandas as pd
import numpy as np

In [362]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.columns = ['davlat','kod','yil','komir','gaz','gidro','yangilanuvchi','quyosh','neft','shamol','atom']
df.head()

        davlat  kod   yil  komir  ...  quyosh  neft  shamol  atom
0  Afghanistan  AFG  2000    0.0  ...     0.0   0.0     0.0   0.0
1  Afghanistan  AFG  2001    0.0  ...     0.0   0.0     0.0   0.0
2  Afghanistan  AFG  2002    0.0  ...     0.0   0.0     0.0   0.0
3  Afghanistan  AFG  2003    0.0  ...     0.0   0.0     0.0   0.0
4  Afghanistan  AFG  2004    0.0  ...     0.0   0.0     0.0   0.0

[5 rows x 11 columns]

### 1-VAZIFA. DF hajmini chiqaring

In [363]:
# JAVOBNI SHUYERGA YOZING
df.shape

(6241, 11)

In [367]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6241 entries, 0 to 6240
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   davlat         6241 non-null   object
 1   kod            5474 non-null   object
 2   yil            6241 non-null   int64
 3   komir          5221 non-null   float64
 4   gaz            5221 non-null   float64
 5   gidro          6241 non-null   float64
 6   yangilanuvchi  6206 non-null   float64
 7   quyosh         6241 non-null   float64
 8   neft           5221 non-null   float64
 9   shamol         6241 non-null   float64
 10  atom           6241 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 536.5+ KB

In [378]:
df['davlat'].value_counts()

Argentina                       36
Thailand                        36
India                           36
Denmark                         36
Norway                          36
                                ..
Haiti                           20
Ghana                           20
Saint Helena                    20
Mozambique                      20
United States Virgin Islands    20
Name: davlat, Length: 235, dtype: int64

### 2-VAZIFA. Jadvalda mavjud davlatlar ro'yxatini alohida chiqaring

In [382]:
# JAVOBNI SHUYERGA YOZING
df['davlat'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia Pacific', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Central America',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'EU-27', 'EU27+1',
       'Eastern Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Europe (other)', 'Falkland Islands', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Lithuania', 'Luxembourg', 'Macau', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Middle Africa',
       'Middle East', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia', 'Norway',
       'Oman', 'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia',
       'South & Central America', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'U.S. Pacific Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Western Africa', 'Western Sahara',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [383]:
#@title Kutilgan natija

### 3-VAZIFA. DF dan faqat AQSh (`United States`) uchun ma'lumotlarni ajratib oling va yangi `dfus` nomli o'zgaruvchiga saqlang

In [384]:
# JAVOBNI SHUYERGA YOZING
dfus = df[df.davlat=='United States']
dfus.tail(6)

             davlat  kod   yil  ...       neft      shamol        atom
5917  United States  USA  2015  ...  42.276556  190.718548  797.177877
5918  United States  USA  2016  ...  37.959041  226.992562  805.693948
5919  United States  USA  2017  ...  34.486074  254.302662  804.949635
5920  United States  USA  2018  ...  38.198843  272.649789  807.084477
5921  United States  USA  2019  ...  31.772000  294.906000  809.409262
5922  United States  USA  2020  ...  28.947190  336.533331  789.918631

[6 rows x 11 columns]

In [385]:
#@title Kutilgan natija
dfus.head(6)

             davlat  kod   yil  ...        neft    shamol        atom
5887  United States  USA  1985  ...  107.744380  0.005820  403.884976
5888  United States  USA  1986  ...  146.865448  0.004231  435.829540
5889  United States  USA  1987  ...  127.411367  0.003577  479.231981
5890  United States  USA  1988  ...  160.107055  0.000880  554.708470
5891  United States  USA  1989  ...  176.729591  2.133377  557.215492
5892  United States  USA  1990  ...  135.978712  2.816768  607.222819

[6 rows x 11 columns]

### 4-VAZIFA. `dfus` jadvalining indeksini `yil` ustuni bilan o'zgartiring. DF dan `yil` ustunini tashlab yuboring.

In [386]:
# JAVOBNI SHUYERGA YOZING
#df.set_index('davlat', drop=True, inplace=True)
dfus.set_index('yil',  inplace=True)

In [387]:
dfus.head()

             davlat  kod        komir  ...        neft    shamol        atom
yil                                    ...
1985  United States  USA  1507.664651  ...  107.744380  0.005820  403.884976
1986  United States  USA  1490.141346  ...  146.865448  0.004231  435.829540
1987  United States  USA  1573.958375  ...  127.411367  0.003577  479.231981
1988  United States  USA  1656.615886  ...  160.107055  0.000880  554.708470
1989  United States  USA  1711.442534  ...  176.729591  2.133377  557.215492

[5 rows x 10 columns]

In [388]:
#@title Kutilgan natija

In [389]:
df.drop('yil', axis=1)

           davlat  kod     komir    gaz  ...  quyosh  neft  shamol  atom
0     Afghanistan  AFG  0.000000  0.155  ...   0.000   0.0     0.0   0.0
1     Afghanistan  AFG  0.000000  0.094  ...   0.000   0.0     0.0   0.0
2     Afghanistan  AFG  0.000000  0.132  ...   0.000   0.0     0.0   0.0
3     Afghanistan  AFG  0.000000  0.309  ...   0.000   0.0     0.0   0.0
4     Afghanistan  AFG  0.000000  0.329  ...   0.000   0.0     0.0   0.0
...           ...  ...       ...    ...  ...     ...   ...     ...   ...
6236     Zimbabwe  ZWE  4.311780  0.000  ...   0.008   0.0     0.0   0.0
6237     Zimbabwe  ZWE  3.714880  0.000  ...   0.009   0.0     0.0   0.0
6238     Zimbabwe  ZWE  3.218560  0.000  ...   0.011   0.0     0.0   0.0
6239     Zimbabwe  ZWE  3.932020  0.000  ...   0.014   0.0     0.0   0.0
6240     Zimbabwe  ZWE  3.805433  0.000  ...   0.014   0.0     0.0   0.0

[6241 rows x 10 columns]

### 5-VAZIFA. AQSh 2020-yilda jami qancha elektr energiyasi ishlab chiqqan?

In [390]:
# JAVOBNI SHUYERGA YOZING
dfus.loc[[2020]].sum(axis=1)

yil
2020    4049.846537
dtype: float64

In [391]:
#@title O'xshash natija (2018-yil uchun)

### 6-VAZIFA. 2010-2020-yillarda AQSH turli manbaalardan o'rtacha qancha elektr toki olganini chiqaring. Natijani kichikdan kattaga qarab tartiblang.

In [392]:
# JAVOBNI SHUYERGA YOZING
#dfus.head()
dfus.loc[2010:2020].mean(axis=0)

komir            1358.154104
gaz              1299.518378
gidro             273.634436
yangilanuvchi      75.785131
quyosh             49.943642
neft               39.028512
shamol            207.386225
atom              796.992746
dtype: float64

In [393]:
dfus.loc[1990:2000].mean(axis=0)

komir            1881.713514
gaz               500.845253
gidro             299.372340
yangilanuvchi      65.175549
quyosh              0.487222
neft              114.206278
shamol              3.472647
atom              684.580238
dtype: float64

In [394]:
#@title O'xshash natija (1990-2000 yillar uchun)

### 7-VAZIFA. AQSH gidro elektr stansiyalardan eng kam va eng ko'p elektr energiyasi olgan yillarni toping.

In [395]:
# JAVOBNI SHUYERGA YOZING
dfus.head()
dfus['gidro'].idxmin()

2001

In [396]:
dfus['gidro'].idxmax()

1997

In [397]:
df[df.yil==2019]

              davlat       kod   yil  ...         neft       shamol         atom
19       Afghanistan       AFG  2019  ...     0.000000     0.000000     0.000000
54            Africa       NaN  2019  ...    81.274240    17.508052    14.214193
74           Albania       ALB  2019  ...     0.000000     0.000000     0.000000
94           Algeria       DZA  2019  ...     0.000000     0.011000     0.000000
129   American Samoa       ASM  2019  ...     0.163000     0.000000     0.000000
...              ...       ...   ...  ...          ...          ...          ...
6144  Western Sahara       ESH  2019  ...     0.000000     0.000000     0.000000
6179           World  OWID_WRL  2019  ...  1089.307746  1416.947048  2720.674471
6200           Yemen       YEM  2019  ...     1.242770     0.000000     0.000000
6220          Zambia       ZMB  2019  ...     1.003232     0.000000     0.000000
6240        Zimbabwe       ZWE  2019  ...     0.000000     0.000000     0.000000

[235 rows x 11 columns]

### 8-VAZIFA. 
#### 8.1 Asl `df` dan 2019-yil ma'lumotlarini ajratib oling. 
#### 8.2 Yangi df ga `df19` deb nom bering
#### 8.3 `df19` indeksini `davlat` ustuniga o'zgartiring hamda `davlat` va `yil` ustunlarini tashlab yuboring.
#### 8.4 `df19` dan `World` indeksini o'chirib tashlang

In [398]:
dfrus = df19.loc[['India']]
dfrus.sum(axis=0)

kod                  IND
yil                 2019
komir            998.538
gaz              47.9804
gidro            161.741
yangilanuvchi    15.0626
quyosh           46.2728
neft             0.10795
shamol           63.3085
atom             45.1629
dtype: object

In [399]:
# JAVOBNI SHUYERGA YOZING
df19 = df[df.yil==2019]
df19
df19.set_index('davlat', drop=True, inplace=True)
df19.drop('yil', axis=1)

                     kod        komir  ...       shamol         atom
davlat                                 ...
Afghanistan          AFG     0.000000  ...     0.000000     0.000000
Africa               NaN   253.555978  ...    17.508052    14.214193
Albania              ALB     0.000000  ...     0.000000     0.000000
Algeria              DZA     0.000000  ...     0.011000     0.000000
American Samoa       ASM     0.000000  ...     0.000000     0.000000
...                  ...          ...  ...          ...          ...
Western Sahara       ESH     0.000000  ...     0.000000     0.000000
World           OWID_WRL  9081.622041  ...  1416.947048  2720.674471
Yemen                YEM     0.000000  ...     0.000000     0.000000
Zambia               ZMB     1.998501  ...     0.000000     0.000000
Zimbabwe             ZWE     3.805433  ...     0.000000     0.000000

[235 rows x 9 columns]

In [400]:
df19.drop('World')
df19.head(10)
df19.sum()

yil              474465.000000
komir             29248.341256
gaz               20246.388295
gidro             13721.508569
yangilanuvchi      2401.997665
quyosh             2411.554472
neft               3468.780298
shamol             5072.475316
atom               9827.427664
dtype: float64

In [401]:
#@title Kutilgan natija

#### 8.5 `df19` jadvali uchun umumlashtiruvchi statistikani chiqaring

In [402]:
# JAVOBNI SHUYERGA YOZING
df19.mean()

yil              2019.000000
komir             129.417439
gaz                89.585789
gidro              58.389398
yangilanuvchi      10.264947
quyosh             10.261934
neft               15.348585
shamol             21.585001
atom               41.818841
dtype: float64

### 9-VAZIFA. 2019-yilda har bir davlat jami qancha elektr energiya ishlab chiqarganini DF ko'rinishida chiqaring.
*ishora. `Series` obyektini `DF` ga o'tkazing

In [403]:
# JAVOBNI SHUYERGA YOZING

df19 = df19.drop('yil', axis=1)
df19.sum(axis=1)

davlat
Afghanistan           1.032000
Africa              867.322298
Albania               5.175940
Algeria              74.348227
American Samoa        0.163000
                      ...
Western Sahara        0.000000
World             25899.805647
Yemen                 2.513480
Zambia               16.854622
Zimbabwe              9.046100
Length: 235, dtype: float64

In [404]:
df19.sum(axis=0)

komir            29248.341256
gaz              20246.388295
gidro            13721.508569
yangilanuvchi     2401.997665
quyosh            2411.554472
neft              3468.780298
shamol            5072.475316
atom              9827.427664
dtype: float64

In [405]:
df19.mean()

komir            129.417439
gaz               89.585789
gidro             58.389398
yangilanuvchi     10.264947
quyosh            10.261934
neft              15.348585
shamol            21.585001
atom              41.818841
dtype: float64

In [406]:
#@title Kutilgan natija

### 10-VAZIFA. 
#### 10.1. Asl DF dan 2000-2020-yillar, `France` uchun `atom`, `komir`, `gaz`, `quyosh` manbaalarini alohida `dffr` jadvaliga ko'chirib oling
#### 10.2. `dffr` jadvalini yil ustuni bo'yicha tartiblang

In [407]:
# JAVOBNI SHUYERGA YOZING
dffr = df.loc[2000:2020]
dffr.davlat == 'France'
dffr[['yil','atom', 'komir', 'gaz', 'quyosh']].sort_values(by='yil')

       yil  atom  komir       gaz  quyosh
2010  2000   0.0    0.0  0.428916  0.0000
2011  2001   0.0    0.0  0.423820  0.0000
2012  2002   0.0    0.0  0.458642  0.0000
2013  2003   0.0    0.0  0.512151  0.0000
2014  2004   0.0    0.0  0.535932  0.0000
2015  2005   0.0    0.0  0.634293  0.0000
2016  2006   0.0    0.0  0.601765  0.0000
2017  2007   0.0    0.0  0.795125  0.0000
2018  2008   0.0    0.0  0.799642  0.0000
2019  2009   0.0    0.0  0.774343  0.0000
2000  2010   0.0    0.0  0.000000  0.0040
2020  2010   0.0    0.0  0.865475  0.0000
2001  2011   0.0    0.0  0.000000  0.0070
2002  2012   0.0    0.0  0.000000  0.0190
2003  2013   0.0    0.0  0.000000  0.0230
2004  2014   0.0    0.0  0.000000  0.0273
2005  2015   0.0    0.0  0.000000  0.0319
2006  2016   0.0    0.0  0.000000  0.0329
2007  2017   0.0    0.0  0.000000  0.0356
2008  2018   0.0    0.0  0.000000  0.0375
2009  2019   0.0    0.0  0.000000  0.0400

In [411]:
df

           davlat  kod   yil     komir  ...  quyosh  neft  shamol  atom
0     Afghanistan  AFG  2000  0.000000  ...   0.000   0.0     0.0   0.0
1     Afghanistan  AFG  2001  0.000000  ...   0.000   0.0     0.0   0.0
2     Afghanistan  AFG  2002  0.000000  ...   0.000   0.0     0.0   0.0
3     Afghanistan  AFG  2003  0.000000  ...   0.000   0.0     0.0   0.0
4     Afghanistan  AFG  2004  0.000000  ...   0.000   0.0     0.0   0.0
...           ...  ...   ...       ...  ...     ...   ...     ...   ...
6236     Zimbabwe  ZWE  2015  4.311780  ...   0.008   0.0     0.0   0.0
6237     Zimbabwe  ZWE  2016  3.714880  ...   0.009   0.0     0.0   0.0
6238     Zimbabwe  ZWE  2017  3.218560  ...   0.011   0.0     0.0   0.0
6239     Zimbabwe  ZWE  2018  3.932020  ...   0.014   0.0     0.0   0.0
6240     Zimbabwe  ZWE  2019  3.805433  ...   0.014   0.0     0.0   0.0

[6241 rows x 11 columns]

In [412]:
#df.loc[['France']]
df.set_index('davlat', drop=True, inplace=True)
#fr = pd.Index(['France'])
#fr.isin(df.index)

In [413]:
df.loc[['France']].sort_values('yil')

        kod   yil      komir  ...       neft     shamol        atom
davlat                        ...
France  FRA  1985        NaN  ...        NaN   0.000000  224.100000
France  FRA  1986        NaN  ...        NaN   0.000000  254.155000
France  FRA  1987        NaN  ...        NaN   0.000000  265.520000
France  FRA  1988        NaN  ...        NaN   0.000000  275.521000
France  FRA  1989        NaN  ...        NaN   0.000000  303.931000
France  FRA  1990        NaN  ...        NaN   0.000272  314.081000
France  FRA  1991        NaN  ...        NaN   0.000490  331.340000
France  FRA  1992        NaN  ...        NaN   0.000490  338.445000
France  FRA  1993        NaN  ...        NaN   0.002402  368.188000
France  FRA  1994        NaN  ...        NaN   0.004704  359.981000
France  FRA  1995        NaN  ...        NaN   0.004714  377.231000
France  FRA  1996        NaN  ...        NaN   0.007430  397.340000
France  FRA  1997        NaN  ...        NaN   0.011128  395.483000
France  FRA  1998        NaN  ...        NaN   0.019497  387.990000
France  FRA  1999        NaN  ...        NaN   0.036944  394.244000
France  FRA  2000  27.004000  ...  12.102000   0.048160  415.162000
France  FRA  2001  20.478000  ...  10.848000   0.131240  421.076000
France  FRA  2002  23.658000  ...  10.637000   0.265590  436.760000
France  FRA  2003  26.260000  ...  11.749000   0.387750  441.070000
France  FRA  2004  24.372000  ...  11.108000   0.594850  448.241000
France  FRA  2005  27.515000  ...  12.772000   0.962570  451.529000
France  FRA  2006  22.889000  ...  12.253000   2.182580  450.191000
France  FRA  2007  24.446000  ...  11.738000   4.070110  439.730000
France  FRA  2008  23.063000  ...  10.632112   5.694210  439.447000
France  FRA  2009  21.667000  ...   9.148197   7.911570  409.736000
France  FRA  2010  23.359000  ...  10.507113   9.944990  428.521000
France  FRA  2011  17.807444  ...  12.094812  12.371621  442.387763
France  FRA  2012  21.449981  ...  12.160755  15.178400  425.406017
France  FRA  2013  23.830994  ...  11.015850  16.126736  423.684671
France  FRA  2014  11.242305  ...  11.164045  17.323779  436.479009
France  FRA  2015  11.873673  ...  11.590929  21.420602  437.427808
France  FRA  2016  10.344460  ...  11.253040  21.380984  403.195482
France  FRA  2017  12.818153  ...  11.782692  24.609437  398.359129
France  FRA  2018   8.412694  ...  10.630602  28.599041  412.941812
France  FRA  2019   4.412694  ...  11.630602  33.599041  398.941812
France  FRA  2020   4.275487  ...  11.526363  39.231956  355.190804

[36 rows x 10 columns]

In [414]:
df.loc[['France']].corr()

                    yil     komir       gaz  ...      neft    shamol      atom
yil            1.000000 -0.866541  0.732072  ... -0.041041  0.836125  0.721468
komir         -0.866541  1.000000 -0.665521  ...  0.059284 -0.921549  0.677929
gaz            0.732072 -0.665521  1.000000  ...  0.130629  0.722891 -0.561700
gidro         -0.300511  0.067225 -0.466301  ... -0.400671 -0.231316 -0.226157
yangilanuvchi  0.946415 -0.918671  0.777808  ... -0.010618  0.951225  0.488135
quyosh         0.767329 -0.933234  0.706133  ...  0.065282  0.976499  0.178557
neft          -0.041041  0.059284  0.130629  ...  1.000000 -0.013924  0.183947
shamol         0.836125 -0.921549  0.722891  ... -0.013924  1.000000  0.250691
atom           0.721468  0.677929 -0.561700  ...  0.183947  0.250691  1.000000

[9 rows x 9 columns]

In [415]:
#@title Kutilgan natija

#### 10.3 `dffr`uchun Korrelyasiya jadvalini chiqaring.

In [410]:
# JAVOBNI SHUYERGA YOZING
dffr.corr()

                    yil  komir       gaz  ...      neft    shamol  atom
yil            1.000000    NaN -0.657854  ...  0.854672  0.519349   NaN
komir               NaN    NaN       NaN  ...       NaN       NaN   NaN
gaz           -0.657854    NaN  1.000000  ... -0.907005 -0.773177   NaN
gidro         -0.838196    NaN  0.935606  ... -0.985416 -0.800340   NaN
yangilanuvchi -0.786233    NaN  0.966418  ... -0.972713 -0.813408   NaN
quyosh         0.893054    NaN -0.793388  ...  0.826098  0.443986   NaN
neft           0.854672    NaN -0.907005  ...  1.000000  0.844072   NaN
shamol         0.519349    NaN -0.773177  ...  0.844072  1.000000   NaN
atom                NaN    NaN       NaN  ...       NaN       NaN   NaN

[9 rows x 9 columns]