<a href="https://colab.research.google.com/github/khusanovich/Data_Science_and_AI/blob/main/2_2_3_Arithmetics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [4]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [5]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [6]:
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [7]:
s1.add(s2)

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [8]:
s2.add(s1)

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

E'tibor bering, `s1` da mavjud `d` indeksi `s2`da mavjud bo'lmaganligi sabab `s1+s2` da `d` indeksdagi qiymat `NaN` bo'ldi.

Yuqoridagi holat `DataFrame`larga ham xos. `Series`lardan farqli ravishda `DataFrame`da qator va ustun indekslari hisobga olinadi.

In [9]:
df1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'), index=['Olma','Anor','Uzum'])
df2 = pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abc'), index=['Olma','Anor','Qovun','Anjir'])

In [10]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [11]:
df2

         a     b     c
Olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

In [12]:
df1+df2

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

In [13]:
df1.add(df2)

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

In [14]:
df2.add(df1)

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

Bunda maxsus `fill_value` parametri yordamida mos tushuvchi indekslardagi NaN qiymatlarni boshqa qiymat bilan almashtirish mumkin. Bu usulda yakuniy natijada ikkala df da ham mavjud bo'lmagan indekslarda `NaN` qiymati qoladi.

In [15]:
df1.add(df2, fill_value=0)

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   7.0   9.0  5.0
Olma   0.0   1.0   3.0  2.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN   6.0   7.0  8.0

### Boshqa arifmetik amallar

- `add`, `radd` - Qo'shish (+)
- `sub`, `rsub` - Ayirish (-)
- `div`, `rdiv` - Bo'lish (/)
- `floordiv`, `rfloordiv` - Bo'lish va butun qismini olis (//)
- `mul`, `rmul` - Ko'paytirish (*)
- `pow`, `rpow` - Eksponenta (\*\*)

Yuqoridagi amallarning barchasida `fill_value` parametri mavjud.

`r`bilan boshlangan metodlarda `DataFrame` ifodaning o'ng  tarafida bo'ladi.
Ya'ni ayiriluvchi bilan ayiruvchining o'rnini almashtirib bering demoqda.

In [16]:
df1.rsub(df2) # df2-df1

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  1.0  1.0 NaN
Olma  NaN  1.0  1.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

In [17]:
df1.sub(df2) # df1-df2

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN -1.0 -1.0 NaN
Olma  NaN -1.0 -1.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

## `DataFrame` va `Series` o'rtasida arifmetik amallar

In [18]:
df = pd.DataFrame(np.arange(1,13.).reshape(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [19]:
obj = pd.Series([1,1,2,2], index=df.columns)
obj

Olma     1
Anor     1
Qovun    2
Anjir    2
dtype: int64

In [20]:
df-obj

   Olma  Anor  Qovun  Anjir
a   0.0   1.0    1.0    2.0
b   4.0   5.0    5.0    6.0
c   8.0   9.0    9.0   10.0

In [21]:
obj = pd.Series([2,3,1], index=['Olma','Uzum','Qovun'])
obj

Olma     2
Uzum     3
Qovun    1
dtype: int64

In [22]:
df+obj

   Anjir  Anor  Olma  Qovun  Uzum
a    NaN   NaN   3.0    4.0   NaN
b    NaN   NaN   7.0    8.0   NaN
c    NaN   NaN  11.0   12.0   NaN

In [24]:
df-obj['Olma'] # df ning har bir elementidan 'Olma' ni ayirib chiqadi

   Olma  Anor  Qovun  Anjir
a  -1.0   0.0    1.0    2.0
b   3.0   4.0    5.0    6.0
c   7.0   8.0    9.0   10.0

In [25]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['Olma','Anor','Nok','Behi'])
df

       Olma      Anor       Nok      Behi
a  0.155998 -0.806567 -0.330875 -0.530048
b  0.640484  0.326984 -0.384396 -0.365478
c  0.888051 -0.507618 -0.608344 -0.469946

In [26]:
np.abs(df) # barcha manfiy sonlarni musbatga aylantiradi

       Olma      Anor       Nok      Behi
a  0.155998  0.806567  0.330875  0.530048
b  0.640484  0.326984  0.384396  0.365478
c  0.888051  0.507618  0.608344  0.469946

In [27]:
np.round(df) # yaxlitlash

   Olma  Anor  Nok  Behi
a   0.0  -1.0 -0.0  -1.0
b   1.0   0.0 -0.0  -0.0
c   1.0  -1.0 -1.0  -0.0

In [28]:
df.mean()

Olma    0.561511
Anor   -0.329067
Nok    -0.441205
Behi   -0.455157
dtype: float64

In [30]:
df.apply(np.mean)

Olma    0.561511
Anor   -0.329067
Nok    -0.441205
Behi   -0.455157
dtype: float64

`.apply()` yordamida funksiyani ustun yoki qatorga qo'llashni ko'rsatishimiz mumkin

In [31]:
df.apply(np.sum, axis='columns')

a   -1.511492
b    0.217594
c   -0.697857
dtype: float64

Bu metodning afzalligi, o'zingiz istalgan funksiyani yozib uni DF elementlariga qo'llashigniz mumkin:

In [32]:
k = lambda x: x.max() - x.min() # lambda bir martalik funktsiya

In [33]:
df.apply(k)

Olma    0.732053
Anor    1.133551
Nok     0.277469
Behi    0.164570
dtype: float64

Funksiya nafaqat yagona qiymat, balki series obyektini ham qaytarishi mumkin

In [34]:
def baa(x):
    return pd.Series([x.min(), x.max()], index = [min, max])

In [35]:
df.apply(baa)

                             Olma      Anor       Nok      Behi
<built-in function min>  0.155998 -0.806567 -0.608344 -0.530048
<built-in function max>  0.888051  0.326984 -0.330875 -0.365478

Biror funksiyani DF har bir elementiga alohida qo'llash uchun `.applymap()` metodidan foydalaning.

In [36]:
f = lambda x : x*x # qiymatni kvadratga oshiruvchi funksiya

In [37]:
df = pd.DataFrame(np.arange(1,13).reshape(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [38]:
df.applymap(f)

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144

## Tartiblash va Reytinglash

In [39]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

`Series` obyektini Indeks bo'yicha tartiblash

In [41]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

`Series` obyketini Qiymatlari bo'yucha tartiblash

In [42]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

In [43]:
# Keling keyingi mashqlar uchun Githubdan kattaroq DF yuklab olamiz
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df.head()

   price      brand    model  ...       state country      condition
0   6300     toyota  cruiser  ...  new jersey     usa   10 days left
1   2899       ford       se  ...   tennessee     usa    6 days left
2   5350      dodge      mpv  ...     georgia     usa    2 days left
3  25000       ford     door  ...    virginia     usa  22 hours left
4  27700  chevrolet     1500  ...     florida     usa  22 hours left

[5 rows x 12 columns]

In [44]:
df.sort_index()

      price      brand    model  ...       state country      condition
0      6300     toyota  cruiser  ...  new jersey     usa   10 days left
1      2899       ford       se  ...   tennessee     usa    6 days left
2      5350      dodge      mpv  ...     georgia     usa    2 days left
3     25000       ford     door  ...    virginia     usa  22 hours left
4     27700  chevrolet     1500  ...     florida     usa  22 hours left
...     ...        ...      ...  ...         ...     ...            ...
2494   7800     nissan    versa  ...  california     usa    1 days left
2495   9200     nissan    versa  ...     florida     usa  21 hours left
2496   9200     nissan    versa  ...     florida     usa  21 hours left
2497   9200     nissan    versa  ...     florida     usa    2 days left
2498   9200     nissan    versa  ...     florida     usa  21 hours left

[2499 rows x 12 columns]

In [45]:
df.sort_index(axis=1) # ustun nomi bo'yicha tartiblash

          brand   color  ...                  vin  year
0        toyota   black  ...    jtezu11f88k007763  2008
1          ford  silver  ...    2fmdk3gc4bbb02217  2011
2         dodge  silver  ...    3c4pdcgg5jt346413  2018
3          ford    blue  ...    1ftfw1et4efc23745  2014
4     chevrolet     red  ...    3gcpcrec2jg473991  2018
...         ...     ...  ...                  ...   ...
2494     nissan     red  ...    3n1cn7ap9kl880319  2019
2495     nissan  silver  ...    3n1cn7ap5jl884088  2018
2496     nissan  silver  ...    3n1cn7ap9jl884191  2018
2497     nissan   black  ...    3n1cn7ap3jl883263  2018
2498     nissan  silver  ...    3n1cn7ap4jl884311  2018

[2499 rows x 12 columns]

In [46]:
df.sort_index(axis=1, ascending=False) # ustun bo'yicha teskari tartiblash

      year                  vin  ...   color      brand
0     2008    jtezu11f88k007763  ...   black     toyota
1     2011    2fmdk3gc4bbb02217  ...  silver       ford
2     2018    3c4pdcgg5jt346413  ...  silver      dodge
3     2014    1ftfw1et4efc23745  ...    blue       ford
4     2018    3gcpcrec2jg473991  ...     red  chevrolet
...    ...                  ...  ...     ...        ...
2494  2019    3n1cn7ap9kl880319  ...     red     nissan
2495  2018    3n1cn7ap5jl884088  ...  silver     nissan
2496  2018    3n1cn7ap9jl884191  ...  silver     nissan
2497  2018    3n1cn7ap3jl883263  ...   black     nissan
2498  2018    3n1cn7ap4jl884311  ...  silver     nissan

[2499 rows x 12 columns]

`DataFrame` elementlarini biror ustun(lar) bo'yicha tartiblash ham mumkin

In [47]:
df.sort_values(by='price', ascending=False) # price ustunni kamayuvchi tartibida tartibladik

      price          brand       model  ...      state country      condition
502   84900  mercedes-benz    sl-class  ...    florida     usa    2 days left
1340  74000           ford         drw  ...   illinois     usa    2 days left
1336  70000           ford         drw  ...   illinois     usa    2 days left
277   67000          dodge  challenger  ...       ohio     usa  21 hours left
1215  65500           ford         srw  ...    indiana     usa  21 hours left
...     ...            ...         ...  ...        ...     ...            ...
141       0          dodge         van  ...       utah     usa    2 days left
391       0       cadillac       coupe  ...   virginia     usa    9 days left
285       0           ford        door  ...   oklahoma     usa  17 hours left
290       0          mazda        door  ...    indiana     usa  16 hours left
354       0           ford      pickup  ...  tennessee     usa    2 days left

[2499 rows x 12 columns]

In [48]:
df.sort_values(by=['price','mileage'], ascending=False)

      price          brand       model  ...         state country      condition
502   84900  mercedes-benz    sl-class  ...       florida     usa    2 days left
1340  74000           ford         drw  ...      illinois     usa    2 days left
1336  70000           ford         drw  ...      illinois     usa    2 days left
277   67000          dodge  challenger  ...          ohio     usa  21 hours left
1215  65500           ford         srw  ...       indiana     usa  21 hours left
...     ...            ...         ...  ...           ...     ...            ...
196       0           ford         mpv  ...         texas     usa    2 days left
349       0      heartland    sundance  ...  pennsylvania     usa    7 days left
309       0      chevrolet        door  ...       wyoming     usa  18 hours left
322       0           ford     chassis  ...    california     usa  19 hours left
545       0            gmc        door  ...      colorado     usa  18 hours left

[2499 rows x 12 columns]

`.rank()` metodi yordamida Df qatorlarini reytingini aniqlash mumkin. Reyting aniqlashda aynan qaysi ko'rsatkich (ustun) bo'yicvha reytingni aniqlash ko'rsatiladi

In [49]:
# Moshinalarni mileage (yurgan kilometri) bo'yicha reyitnglaymiz
df['rank'] = df['mileage'].rank()
df

      price      brand    model  ...  country      condition    rank
0      6300     toyota  cruiser  ...      usa   10 days left  2486.0
1      2899       ford       se  ...      usa    6 days left  2445.0
2      5350      dodge      mpv  ...      usa    2 days left  1430.0
3     25000       ford     door  ...      usa  22 hours left  1881.0
4     27700  chevrolet     1500  ...      usa  22 hours left    77.0
...     ...        ...      ...  ...      ...            ...     ...
2494   7800     nissan    versa  ...      usa    1 days left   689.0
2495   9200     nissan    versa  ...      usa  21 hours left  1208.0
2496   9200     nissan    versa  ...      usa  21 hours left  1053.5
2497   9200     nissan    versa  ...      usa    2 days left  1107.0
2498   9200     nissan    versa  ...      usa  21 hours left  1040.0

[2499 rows x 13 columns]

In [50]:
df.sort_values('mileage')

      price      brand   model  ...  country      condition    rank
545       0        gmc    door  ...      usa  18 hours left     3.5
504     100  peterbilt   truck  ...      usa  17 hours left     3.5
1619    650       ford    door  ...      usa    2 days left     3.5
309       0  chevrolet    door  ...      usa  18 hours left     3.5
1236   4200       ford    door  ...      usa    2 days left     3.5
...     ...        ...     ...  ...      ...            ...     ...
531    2000  chevrolet  pickup  ...      usa  21 hours left  2495.0
490     475  peterbilt   truck  ...      usa  17 hours left  2496.0
516       0  peterbilt   truck  ...      usa  17 hours left  2497.0
1827   3200       ford    door  ...      usa  21 hours left  2498.0
528    1025  peterbilt   truck  ...      usa  17 hours left  2499.0

[2499 rows x 13 columns]

In [51]:
# .rank() method parametri yordamida reyting o'lchash usulini tanlash mumkin (min, max, average, first, dense)
df['rank'] = df['year'].rank(method='average')
df.sort_values('year')

      price      brand     model  ...  country      condition    rank
32    29800  chevrolet    camaro  ...      usa  22 hours left     1.0
405      25       ford      door  ...      usa  17 hours left     2.0
545       0        gmc      door  ...      usa  18 hours left     3.0
362      25       ford    pickup  ...      usa    2 days left     4.5
322       0       ford   chassis  ...      usa  19 hours left     4.5
...     ...        ...       ...  ...      ...            ...     ...
426   55600      lexus        gx  ...      usa    2 days left  2475.5
806   28300  chevrolet  colorado  ...      usa    2 days left  2475.5
2322  15000     nissan    altima  ...      usa    2 days left  2475.5
2344  20100     nissan     rogue  ...      usa  14 hours left  2475.5
1388  17000       ford    fusion  ...      usa    2 days left  2475.5

[2499 rows x 13 columns]

In [52]:
df['rank'] = df['price'].rank(method='min')
df.sort_values('price')

      price          brand       model  ...  country      condition    rank
410       0      chevrolet        door  ...      usa    2 days left     1.0
330       0           ford        door  ...      usa  19 hours left     1.0
331       0           ford        door  ...      usa  17 hours left     1.0
339       0           ford        door  ...      usa    2 days left     1.0
496       0           ford      pickup  ...      usa  17 hours left     1.0
...     ...            ...         ...  ...      ...            ...     ...
1215  65500           ford         srw  ...      usa  21 hours left  2495.0
277   67000          dodge  challenger  ...      usa  21 hours left  2496.0
1336  70000           ford         drw  ...      usa    2 days left  2497.0
1340  74000           ford         drw  ...      usa    2 days left  2498.0
502   84900  mercedes-benz    sl-class  ...      usa    2 days left  2499.0

[2499 rows x 13 columns]

In [53]:
df['rank'] = df['color'].rank(method='average')
df.sort_values('color')

      price      brand    model  ...  country      condition    rank
135   24005  chevrolet     1500  ...      usa  20 hours left     3.0
168   20105      buick     door  ...      usa  20 hours left     3.0
460   15010   infiniti      mpv  ...      usa  17 hours left     3.0
149    6700       ford  cutaway  ...      usa    3 days left     3.0
2418   3000     nissan     door  ...      usa    2 days left     3.0
...     ...        ...      ...  ...      ...            ...     ...
485   11200       jeep      mpv  ...      usa    2 days left  2495.0
1362  39500       ford    f-150  ...      usa  21 hours left  2495.0
1363  33100       ford    f-150  ...      usa  21 hours left  2495.0
536   11100       jeep      mpv  ...      usa    2 days left  2495.0
548   11030       jeep      mpv  ...      usa    2 days left  2495.0

[2499 rows x 13 columns]